<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <article class="card shadow border-0" style="background-color:rgba(255,255,255,0.8)">
        <div class="card-body p-5 text-center">
          <h2 class="mb-5 about-title">このサイトについて</h2>
          <p class="mb-2">このサイトはユーザーが今まで住んだことのある地域、現在住んでいる地域などのあるあるやエピソードを共有するアプリです。</p>
          <p>制作者の出身が北海道なのですが、あまりにも広いため同じ北海道出身でも特色や生活には違いがあると感じていました。他の地域も市区町村によってさまざまな違いがあると思います。</p>
          <p class="mb-5">みなさんにゆかりのある地域について教えていただけると嬉しいです。</p>
          <p class="mb-3">不具合やご意見などありましたら下記までご連絡いただけますと幸いです。</p>
          <div class="mb-3">
            <%= link_to "お問い合わせフォーム", "https://forms.gle/bCbByjphU7YuJR44A", target: :_blank, class: "link-dark" %>
          </div>
          <p class="mb-5"><%= link_to "Xアカウント", "https://x.com/inoserisa", class:"link-dark", target: :_blank %></p>
          <p class="about-caution">批判や差別を助長する投稿、公序良俗に反する内容や過度にネガティブな内容の投稿はご遠慮ください。<br/>
          内容により削除させて頂く場合がございます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
