<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10 card shadow">
      <div class="card-body">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="pb-4 text-center">プライバシーポリシー</h2>
        </div>
      </div>
    </div>
  </div>
</div>