<%= link_to transition_path(notification) do %>
  <div>
    <%= link_to notification.subject.user.name, user_path(notification.subject.user) %>
    があなたの
    <%= link_to '質問', question_path(notification.subject.question) %>
    に回答しました
    <%= "(#{time_ago_in_words(notification.created_at)}前)" %>
  </div>
<% end %>