<% breadcrumb :post_new %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="col-12 card shadow mb-5">
        <div class="card-body">
          <h2 class="pb-4 text-center"><%= t('.title') %></h2>
          <%= render 'form', { post: @post } %>
        </div>
      </div>
    </div>
  </div>
</div>