.about-title {
  background: linear-gradient(90deg, #43cea2, #185a9d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.about-caution {
  color:#8e8e8e;
  font-size: small;
}