body {
  background-color: #FFF6ED;
  padding-top: 56px;
}

.custom-title {
  color: #146356;
  font-weight: bold;
}

.header-color {
  background-color: #A3DA8D;
}

.footer-color {
  background-color:#146356;
  position:sticky;
}

.area-box {
  background-color: #146356;
  color: white;
  border-radius: 5px;
  font-size: small;
  padding: 2px 6px;
  font-weight: bold;
}

.post-button {
  width: 80%;
  font-size: 20px;
}

.name-link {
  font-weight: bold;
}

.comment-border {
  border-color:gray;
}

.search-button {
  background-color: #146356;
  font-weight: bold;
}

.search-button:hover {
  background-color: #115549;
}

.prefecture-box {
  width: 200px;
}

.city-box {
  width: 300px;
}

@media(max-width: 767px) {
  .prefecture-box {
    width: 150px;
  }
  .city-box {
    width: 200px;
  }
}