body {
  background-color: #FFF6ED;
  padding-top: 56px;
  background-image: url("background-image.png");
  background-size: 60% auto;
  background-position: 100% 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer-color {
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #43cea2, #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:sticky;
}

.custom-title-top, .custom-title-under {
  color: #185a9d;
  font-weight: bold;
  font-size: 55px;
}

.custom-title-top {
  margin-top: 15%;
}

.custom-title-top span, .custom-title-under span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.custom-title-top span::before, .custom-title-under span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* アニメーションの開始位置 */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  animation: slideBackground 1s linear forwards; /* アニメーションの設定 */
  z-index: -1;
}

.post-button {
  width: 400px;
  font-size: 25px;
  font-weight: bold;
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
  border-color:#FFF;
}

.search-title {
  background-color: rgba(255,255,255,0.7);
  color:#185a9d;
}

.header-color {
  background-image: linear-gradient(90deg, #43cea2, #185a9d);
}

.footer-list {
  margin-bottom: 10px;
}

.area-box {
  background-color: #185a9d;
  color: white;
  border-radius: 5px;
  font-size: small;
  padding: 2px 6px;
  font-weight: bold;
}

.postcreate-button {
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
  border-color:#FFF;
}

.name-link {
  font-weight: bold;
}

.comment-border {
  border-color:gray;
}

.comment-button {
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
  border-color: #FFF;
}

.search-button {
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
  border-color:#FFF;
  font-weight: bold;
}

.search-button:hover {
  background-color: #115549;
}

.prefecture-box {
  width: 300px;
}

.city-box {
  width: 300px;
}

@media(max-width: 992px) {
  .custom-title-top {
    font-size: 50px;
  }
  .custom-title-under {
    font-size: 50px;
  }
}

@media(max-width: 767px) {
  body {
    background-size: 100% auto;
    background-position: 100% 15%;
  }
  .post-button {
    font-size: 25px;
    width: 350px;
  }
  .custom-title-top {
    margin-top: 20%;
    font-size: 40px;
  }
  .custom-title-under {
    font-size: 40px;
  }
  .prefecture-box {
    width: 100%;
  }
  .city-box {
    width: 100%;
  }
  .custom-title-top span::before, .custom-title-under span::before {
    background: rgba(255, 255, 255, 0.7);
  }
}

.fadeUp {
  animation-name: fadeUpAnime;/*アニメーションの定義名*/
  animation-duration:1s;/*アニメーション変化時間 ※デフォルト*/
  animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
  opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBackground {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.mypage-container {
  padding: 10px;
}

.pagination>li>a {          
  border: none;
  color: #696969;
}

.pagination>.active>a {     
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
}

.icon {
  margin-right: 10px;
  vertical-align: middle;
}