body {
  background-color: #FFF6ED;
  padding-top: 56px;
}

.custom-title {
  color: #146356;
  font-weight: bold;
}

.header-color {
  background-color: #A3DA8D;
}

.footer-color {
  background-color:#146356;
  position:sticky;
}

.area-box {
  background-color: #146356;
  color: white;
  border-radius: 5px;
  font-size: small;
  padding: 2px 6px;
  font-weight: bold;
}

.post-button {
  width: 60%;
  font-size: 25px;
}

.postcreate-button {
  background-color: #146356;
}

.postcreate-button:hover {
  background-color: #115549;
}

.name-link {
  font-weight: bold;
}

.comment-border {
  border-color:gray;
}

.search-button {
  background-color: #146356;
  font-weight: bold;
}

.search-button:hover {
  background-color: #115549;
}

.prefecture-box {
  width: 200px;
}

.city-box {
  width: 300px;
}

@media(max-width: 767px) {
  .prefecture-box {
    width: 150px;
  }
  .city-box {
    width: 200px;
  }
  .post-button {
    width: 80%;
    font-size: 20px;
  }
}

.fadeUp {
  animation-name: fadeUpAnime;/*アニメーションの定義名*/
  animation-duration:1s;/*アニメーション変化時間 ※デフォルト*/
  animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
  opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}