body {
  background-color: #FFF6ED;
  padding-top: 76px;
}

/* 地域表示ボックス*/
.area-box {
  background-color: #185a9d;
  color: white;
  border-radius: 5px;
  font-size: small;
  padding: 2px 6px;
  font-weight: bold;
}
/* 投稿ボタン */
.postcreate-button {
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
  border-color:#FFF;
}

.homeback-button {
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
  border-color:#FFF;
}

.name-link {
  font-weight: bold;
}

/* フェードアップアニメーション */
.fadeUp {
  animation-name: fadeUpAnime;/*アニメーションの定義名*/
  animation-duration:1s;/*アニメーション変化時間 ※デフォルト*/
  animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
  opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBackground {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

/* ページネーション */
.pagination>li>a {          
  border: none;
  color: #696969;
}

.pagination>.active>a {     
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
}

/* ゴミ箱・編集アイコン */
.icon {
  margin-right: 10px;
  vertical-align: middle;
  height: 1.8em;
  width: auto;
}

.bookmark-star {
  margin-right: 1em;
}

.sns-login-or {
  color: #696969;
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: center; /* 水平中心 */
  position: relative; /* 追加: before/afterの位置を相対的にする */
}
.sns-login-or:before, .sns-login-or:after {
  border-top: #a7a7a7 1px solid; /* 線のスタイル */
  content: ""; /* 空のコンテンツ */
  width: 6em; /* 線の長さ */
  top: 50%; /* 縦位置を中心に */
  transform: translateY(-50%); /* 縦位置を調整 */
}
.sns-login-or:before {
  left: 0; /* 左側に配置 */
  margin-right: 1em; /* 文字の右隣 */
}
.sns-login-or:after {
  right: 0; /* 右側に配置 */
  margin-left: 1em; /* 文字の左隣 */
}

.home-icon {
  color: #185a9d;
}

/* パンくずリスト */
.gretel-text {
  color: #185a9d;
  
  a {
    text-decoration: none;
    color: #185a9d;
  }
}

/* スクロールボタン */
.scroll-top-btn {
  display: none; /* ボタンを初めは非表示に */
  position: fixed; /* ボタンを画面に固定 */
  bottom: 5%; /* 画面の下から5%の位置に配置 */
  right: 3%; /* 画面の右から2%の位置に配置 */
  width: 50px; /* ボタンの幅 */
  height: 50px; /* ボタンの高さ */
  background-color: #E94235; /* ボタンの背景色 */
  border-radius: 50%; /* ボタンの角を丸くする */
  align-items: center; /* ボタン内の要素を縦方向中央に配置 */
  justify-content: center; /* ボタン内の要素を横方向中央に配置 */
  color: #fff; /* テキストの色を白に設定 */
  font-size: 30px; /* テキストのフォントサイズ */
  text-decoration: none; /* テキストの下線を削除 */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* ホバー時のトランジション効果の設定 */
  z-index: 9999; /* ボタンを最前面に */
}

.scroll-top-btn.show {
  display: flex;
}

.scroll-top-btn:hover {
  background-color: #CA392E; /* ホバー時の背景色変更 */
  text-decoration: none; /* テキストの下線を削除 */
  transform: scale(1.1); /* ホバー時の拡大率変更 */
}

/* タブ */
.nav-pills .nav-link {
  background: #dddddd;
  color: #434343;
}

.nav-pills .nav-link.active {
  background: #185a9d;
  font-weight: bold;
}