.search-button {
  background-image: linear-gradient(120deg, #43cea2, #185a9d);
  border-color:#FFF;
  font-weight: bold;
}

.search-button:hover {
  background-color: #115549;
}

.prefecture-box {
  width: 300px;
}

.city-box {
  width: 300px;
}

@media(max-width: 767px) {
  .prefecture-box {
    width: 100%;
  }
  .city-box {
    width: 100%;
  }
}