.mypage-container {
  padding: 10px;
}

.username-box {
    background-color: #185a9d;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
  }