.mypage-container {
  padding: 10px;
}

.username-box {
    background-color: #185a9d;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    font-size: small;
}

.user-edit-button {
  border: 3px solid #a7a7a7;
  padding: 7px;
  border-radius: 10px;
  color: #a7a7a7;
  text-decoration: none;
}